<div class="badges">
  <!-- Chai.pink -->
  <a href="https://chai.pink/">
    <img src="/assets/badges/badge_chai.png">
  </a>

  <!-- Transgender flag -->
  <img src="/assets/badges/badge_trans.png">

  <!-- Lesbian flag -->
  <img src="/assets/badges/badge_lesbian.gif">

  <!-- Plural flag -->
  <img src="/assets/badges/badge_plural.gif">

  <!-- Made with Aseprite -->
  <a href="https://www.aseprite.org/">
    <img src="/assets/badges/badge_aseprite_madewith.png">
  </a>

  <!-- Tested on Firefox -->
  <a href="https://www.firefox.com/">
    <img src="/assets/badges/badge_firefox.gif">
  </a>

  <!-- Powered by Docker-->
  <a href="https://www.docker.com/">
    <img src="/assets/badges/badge_docker.png">
  </a>

  <!-- You're telling me a queer coded this -->
  <img src="/assets/badges/badge_queer.png">

  <!-- Eevee love -->
  <img src="/assets/badges/badge_eevee.png">

  <!-- Increment -->
  <iframe src="//incr.easrng.net/badge?key=chaipink" style="background: url(//incr.easrng.net/bg.gif)" title="increment badge" width="88" height="31" frameborder="0"></iframe>
</div>