<!DOCTYPE html>
<html>
  <head>
    <!-- Meta-tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Shortcut icon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/icon.png">
    <link rel="icon" type="image/png" href="/assets/images/icon.png" sizes="72x72">

    <!-- Title -->
    <title>{{ title }}</title>
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- Scripts -->
    <script defer src="/js/index.js"></script>
  </head>
  
  <body>
    <!-- Window -->
    <div class="container">
      <div class="window">
        <!-- Header -->
        <header class="section content has-background-light">{% include "header.html" %}</header>
        <div class="separator"></div>

        <!-- Navigation bar -->
        <nav class="navbar section content is-sm has-background-shade-2">{% include "navbar.html" %}</nav>
        <div class="separator"></div>

         <!-- Main content -->
        <main>{{ content | safe }}</main>

        <!-- Footer-->
        <div class="separator"></div>
        <section class="section content has-background-shade-2">{% include "footer.html" %}</section>
      </div>

      <!-- Badges footer -->
      <footer class="footer">{% include "badges.html" %}</footer>
    </div>
  </body>
</html>