@use '@csstools/normalize.css/normalize.css';

@use 'colors';
@use 'mixins';
@use 'helpers';
@use 'layout';

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

// Variables
$font: "Sour Gummy", "Cherry Bomb One", sans-serif;


// Box sizing of all elements
* {
  box-sizing: border-box;
  white-space-collapse: collapse;
}


// Body styling
body {
  // Reset margin and padding
  margin: 0;

  // Background cover
  background: url('/assets/cover.png');
  background-position: center;

  // Font and text color
  font-family: $font;
  font-weight: 400;
  font-style: normal;
  color: colors.$text;

  // Link styling
  a {
    color: colors.$link;
    border-bottom: 1px dotted colors.$link;
    text-decoration: none;

    &:hover, &:active {
      color: colors.$text;
      border-bottom: colors.$text;
    }
  }
}




// Content styling
.content {
  padding: 12px;

  // Remove margin from elements
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }

  // Emoji styling
  .emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
  }

  // Fancy title style
  .fancy-title {
    text-align: center;
    color: colors.$shade-3;

    &:before {
      content: "☙ ";
    }
    &:after {
      content: " ❧";
    }
  }
}

// Badges styling
.badges {
  display: grid;
  grid-auto-columns: 88px;
  grid-auto-rows: 31px;
  grid-template-columns: 88px 88px 88px;
  gap: 4px;
  justify-content: center;
  align-items: center;

  & > * {
    @include mixins.box-shadow;
  }

  @media screen and (min-width: layout.$tablet) {
    grid-template-columns: 88px 88px 88px 88px 88px;
  }

  a {
    height: 31px;
    border-bottom: none;
  }
}

// Box styling
.box {
  padding: 8px;

  background-color: colors.$light;
  @include mixins.border;
}

// Separator styling
.separator {
  border-top: 2px solid colors.$shade-4;
}